body {
    background-image: url("../images/spotlight-background.png");
    background-position: center;
    background-attachment: fixed;
}


.question-box {
    height: 750px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    background-color: black;
    position: relative;
}

ul {
    list-style: none;
}

#start-game {
    margin-top: 200px;
}

#button-style {
    width: 55%;
    height: 20%;
    margin-bottom: 15px;
    color: white;
    font-size: 28px;
    background: transparent;
}

